<html>

    <h3>Wednesday attendance</h3>
    {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'site.css' %}" />
        <link rel="stylesheet" type="text/javascript" href="{% static 'myscript.js' %}" />
    <form method="POST" action="/test">
        {% csrf_token %}
        {{form}} 
    <input type="submit" name="Create Player">
    </form>

    <table>
        <tr>
            <td> Number </td>
            <td> Name </td>
            <td> Skill Level</td>
            <td>  </td>
        </tr>
        {% for player in players %}
        <tr>    
            <th class="nr" width="50"> </th>
            <th> {{player.name}} </th>
            <th width="200"> {{player.skill_level}} </th>
            <th width="175"><a href="{% url 'delete' player.pk %}"> Can't make it?</a> </th>
        </tr>
        {%endfor%} 
    </table>
    
    <script type="text/javascript">
        var a = document.getElementsByClassName("nr");
        for (var i = 0; i < a.length; i++) {
            a[i].innerHTML = (i+1)+".";
        }
    </script>
</html>