{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'site.css' %}" />
{% if team1 %} 
    <ol>
    {% for member in team1 %}
        <li>{{ member }}</li>
    {% endfor %}
    </ol> 
{% else %}
    <p>No teams are available.</p>
{% endif %}
{% if team2 %} 
    <ol>
    {% for member in team2 %}
        <li>{{ member }}</li>
    {% endfor %}
    </ol> 
{% else %}
    <p>No teams are available.</p>
{% endif %}
{% if team3 %} 
    <ol>
    {% for member in team3 %}
        <li>{{ member }}</li>
    {% endfor %}
    </ol> 
{% else %}
    <p>No teams are available.</p>
{% endif %}